flows_garagedoor.json
[
    {
        "id": "b9b57588.e87188",
        "type": "tab",
        "label": "Restart Node-RED",
        "disabled": false,
        "info": ""
    },
    {
        "id": "60964c6a.0f7cec",
        "type": "tab",
        "label": "Garage Door",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ecf8719e.02b44",
        "type": "tab",
        "label": "HomeBridge",
        "disabled": false,
        "info": ""
    },
    {
        "id": "569ad397.eded9c",
        "type": "group",
        "z": "60964c6a.0f7cec",
        "name": "Open/Close Doors",
        "style": {
            "stroke": "#999999",
            "fill": "none",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "dd95e9ea.e8d23",
            "749bbc17.26e544",
            "ea065a44.ce68a8",
            "b1eda671.8ff5e8",
            "a87c1e6b.8e687",
            "7c1e2d61.757dd4",
            "becebb3b.e6b7e8",
            "9c80ac98.b4f0e",
            "a767f61a.fcd828",
            "6d0a18dd.2949e8",
            "5e0b3dc5.4ed944",
            "6ee720bc.5d514",
            "d37a0bc7.58a398",
            "62afc7bf.02b4a8",
            "1152d3e0.7edfcc",
            "97e50e35.6decf",
            "7569cfdba8b71173",
            "06d052ef9f460865",
            "f42c06cce1893166"
        ],
        "x": 34,
        "y": 19,
        "w": 972,
        "h": 342
    },
    {
        "id": "b93b8e27.6ef5",
        "type": "group",
        "z": "60964c6a.0f7cec",
        "name": "Check Door Sensors",
        "style": {
            "stroke": "#999999",
            "fill": "none",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "21f6faa8.1f92fe",
            "e09cfc85.9e3ef",
            "d5f33979.cc8c08",
            "89dd132b.a9455",
            "cb87563e.bbb2a8",
            "490eface.26df44",
            "4781318a.ca372",
            "b67b0572.3317b8",
            "7cb5b31b.2348ac",
            "3c0817ee.5181d8",
            "726db91753147663",
            "a38f597c3a96b0e3",
            "5f83054f01203e34",
            "73bc1f9ea80afdaa"
        ],
        "x": 34,
        "y": 399,
        "w": 972,
        "h": 222
    },
    {
        "id": "87148ca7.4d46a",
        "type": "group",
        "z": "60964c6a.0f7cec",
        "name": "Check Door Sensor",
        "style": {
            "label": true
        },
        "nodes": [
            "93ab7eeb.f324",
            "faaaf635.165d28",
            "91c66d3b.60382",
            "69a2719d.8b279",
            "e7096300.5d87e",
            "8de3d8dd.e918c8"
        ],
        "x": 34,
        "y": 659,
        "w": 752,
        "h": 162
    },
    {
        "id": "20c64501.bd75da",
        "type": "hb-conf",
        "username": "347-85-621"
    },
    {
        "id": "fd6ae5c1.795a28",
        "type": "twilio-api",
        "name": "Garage Door",
        "sid": "AC81162e78733116ba62967cfc0b31b97d",
        "from": "+16149023667"
    },
    {
        "id": "d8a7e963db90b25e",
        "type": "blynk-iot-client",
        "name": "BlynkNew",
        "path": "blynk.cloud",
        "key": "wt2CPRQ83pvy97NCBkafKIoIleHh6oZm",
        "tmpl": "TMPL5Dk3PRU9",
        "dbg_all": true,
        "dbg_prop": false,
        "dbg_sync": false,
        "dbg_low": false,
        "dbg_pins": "",
        "multi_cmd": true,
        "enabled": true
    },
    {
        "id": "dbdeb1440feef5e3",
        "type": "remote-config",
        "name": "Node-RED UI",
        "host": "localhost",
        "protocol": "http",
        "port": "1880",
        "baseurl": "/ui",
        "instancehash": "6scajrkjj4kficg53gb6mrf1w7r9vfo2vkspnz9h3lrapevh61vjmrp3hxqc6ve5",
        "server": "nodered03.remote-red.com",
        "region": "us"
    },
    {
        "id": "f814abf745c87fed",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c2a8e821e8cb901b",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "3e4cd45ac5bd91db",
        "type": "ui_group",
        "name": "Home",
        "tab": "f814abf745c87fed",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "91ce3794.3e1958",
        "type": "exec",
        "z": "b9b57588.e87188",
        "command": "node-red-restart",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 300,
        "y": 80,
        "wires": [
            [
                "820d8e54.dc4d9"
            ],
            [
                "820d8e54.dc4d9"
            ],
            [
                "820d8e54.dc4d9"
            ]
        ]
    },
    {
        "id": "39ecc04c.e2801",
        "type": "inject",
        "z": "b9b57588.e87188",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 80,
        "wires": [
            [
                "91ce3794.3e1958"
            ]
        ]
    },
    {
        "id": "820d8e54.dc4d9",
        "type": "debug",
        "z": "b9b57588.e87188",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 510,
        "y": 80,
        "wires": []
    },
    {
        "id": "dd95e9ea.e8d23",
        "type": "inject",
        "z": "60964c6a.0f7cec",
        "g": "569ad397.eded9c",
        "name": "Open/Close (Door 1)",
        "props": [
            {
                "p": "payload",
                "v": "0",
                "vt": "num"
            },
            {
                "p": "topic",
                "v": "Door_1",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Door_1",
        "payload": "0",
        "payloadType": "num",
        "x": 170,
        "y": 140,
        "wires": [
            [
                "becebb3b.e6b7e8"
            ]
        ]
    },
    {
        "id": "21f6faa8.1f92fe",
        "type": "function",
        "z": "60964c6a.0f7cec",
        "g": "b93b8e27.6ef5",
        "name": "DOOR 1 Staus",
        "func": "if (msg.payload == 0) {\n    flow.set(\"DOOR_1\", \"CLOSED\");\n    return [{pin: 5, payload: 0}, {pin: 6, payload: 1023}];\n} else {\n    flow.set(\"DOOR_1\", \"OPEN\");\n    return [{pin: 5, payload: 1023}, {pin: 6, payload: 0}];\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 460,
        "wires": [
            [
                "cb87563e.bbb2a8"
            ],
            [
                "490eface.26df44"
            ]
        ]
    },
    {
        "id": "749bbc17.26e544",
        "type": "change",
        "z": "60964c6a.0f7cec",
        "g": "569ad397.eded9c",
        "name": "Reset Pin",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 60,
        "wires": [
            [
                "97e50e35.6decf"
            ]
        ]
    },
    {
        "id": "ea065a44.ce68a8",
        "type": "delay",
        "z": "60964c6a.0f7cec",
        "g": "569ad397.eded9c",
        "name": "",
        "pauseType": "delay",
        "timeout": "250",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 460,
        "y": 60,
        "wires": [
            [
                "749bbc17.26e544"
            ]
        ]
    },
    {
        "id": "e09cfc85.9e3ef",
        "type": "rpi-gpio in",
        "z": "60964c6a.0f7cec",
        "g": "b93b8e27.6ef5",
        "name": "Sensor (Door 1)",
        "pin": "17",
        "intype": "up",
        "debounce": "25",
        "read": true,
        "bcm": true,
        "x": 140,
        "y": 460,
        "wires": [
            [
                "5f83054f01203e34"
            ]
        ]
    },
    {
        "id": "d5f33979.cc8c08",
        "type": "rpi-gpio in",
        "z": "60964c6a.0f7cec",
        "g": "b93b8e27.6ef5",
        "name": "Sensor (Door 2)",
        "pin": "18",
        "intype": "up",
        "debounce": "25",
        "read": true,
        "bcm": true,
        "x": 140,
        "y": 560,
        "wires": [
            [
                "73bc1f9ea80afdaa"
            ]
        ]
    },
    {
        "id": "b1eda671.8ff5e8",
        "type": "rpi-gpio out",
        "z": "60964c6a.0f7cec",
        "g": "569ad397.eded9c",
        "name": "Relay (Door 1)",
        "pin": "19",
        "set": true,
        "level": "1",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 900,
        "y": 180,
        "wires": []
    },
    {
        "id": "a87c1e6b.8e687",
        "type": "rpi-gpio out",
        "z": "60964c6a.0f7cec",
        "g": "569ad397.eded9c",
        "name": "Relay (Door 2)",
        "pin": "26",
        "set": true,
        "level": "1",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 900,
        "y": 260,
        "wires": []
    },
    {
        "id": "7c1e2d61.757dd4",
        "type": "inject",
        "z": "60964c6a.0f7cec",
        "g": "569ad397.eded9c",
        "name": "Open/Close (Door 2)",
        "props": [
            {
                "p": "payload",
                "v": "0",
                "vt": "num"
            },
            {
                "p": "topic",
                "v": "Door_2",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Door_2",
        "payload": "0",
        "payloadType": "num",
        "x": 170,
        "y": 320,
        "wires": [
            [
                "9c80ac98.b4f0e"
            ]
        ]
    },
    {
        "id": "becebb3b.e6b7e8",
        "type": "change",
        "z": "60964c6a.0f7cec",
        "g": "569ad397.eded9c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "pin",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 140,
        "wires": [
            [
                "a767f61a.fcd828"
            ]
        ]
    },
    {
        "id": "9c80ac98.b4f0e",
        "type": "change",
        "z": "60964c6a.0f7cec",
        "g": "569ad397.eded9c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "pin",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 320,
        "wires": [
            [
                "a767f61a.fcd828"
            ]
        ]
    },
    {
        "id": "a767f61a.fcd828",
        "type": "switch",
        "z": "60964c6a.0f7cec",
        "g": "569ad397.eded9c",
        "name": "",
        "property": "pin",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "nempty"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 510,
        "y": 260,
        "wires": [
            [
                "6d0a18dd.2949e8"
            ],
            [
                "5e0b3dc5.4ed944"
            ],
            [
                "6ee720bc.5d514"
            ]
        ]
    },
    {
        "id": "6d0a18dd.2949e8",
        "type": "link out",
        "z": "60964c6a.0f7cec",
        "g": "569ad397.eded9c",
        "name": "",
        "links": [
            "d37a0bc7.58a398",
            "1152d3e0.7edfcc"
        ],
        "x": 655,
        "y": 180,
        "wires": []
    },
    {
        "id": "5e0b3dc5.4ed944",
        "type": "link out",
        "z": "60964c6a.0f7cec",
        "g": "569ad397.eded9c",
        "name": "",
        "links": [
            "1152d3e0.7edfcc"
        ],
        "x": 655,
        "y": 220,
        "wires": []
    },
    {
        "id": "6ee720bc.5d514",
        "type": "link out",
        "z": "60964c6a.0f7cec",
        "g": "569ad397.eded9c",
        "name": "",
        "links": [
            "1152d3e0.7edfcc",
            "62afc7bf.02b4a8"
        ],
        "x": 655,
        "y": 260,
        "wires": []
    },
    {
        "id": "d37a0bc7.58a398",
        "type": "link in",
        "z": "60964c6a.0f7cec",
        "g": "569ad397.eded9c",
        "name": "IN: DOOR_1",
        "links": [
            "6d0a18dd.2949e8",
            "abfcd65ea3306a1c"
        ],
        "x": 755,
        "y": 180,
        "wires": [
            [
                "b1eda671.8ff5e8"
            ]
        ]
    },
    {
        "id": "62afc7bf.02b4a8",
        "type": "link in",
        "z": "60964c6a.0f7cec",
        "g": "569ad397.eded9c",
        "name": "IN: DOOR_2",
        "links": [
            "6ee720bc.5d514",
            "79c04da1f1358256"
        ],
        "x": 755,
        "y": 260,
        "wires": [
            [
                "a87c1e6b.8e687"
            ]
        ]
    },
    {
        "id": "1152d3e0.7edfcc",
        "type": "link in",
        "z": "60964c6a.0f7cec",
        "g": "569ad397.eded9c",
        "name": "",
        "links": [
            "6d0a18dd.2949e8",
            "5e0b3dc5.4ed944",
            "6ee720bc.5d514"
        ],
        "x": 325,
        "y": 60,
        "wires": [
            [
                "ea065a44.ce68a8"
            ]
        ]
    },
    {
        "id": "97e50e35.6decf",
        "type": "link out",
        "z": "60964c6a.0f7cec",
        "g": "569ad397.eded9c",
        "name": "",
        "links": [],
        "x": 765,
        "y": 60,
        "wires": []
    },
    {
        "id": "89dd132b.a9455",
        "type": "function",
        "z": "60964c6a.0f7cec",
        "g": "b93b8e27.6ef5",
        "name": "DOOR 2 Status",
        "func": "if (msg.payload == 0) {\n    flow.set(\"DOOR_2\", \"CLOSED\");\n    return [{pin: 7, payload: 0}, {pin: 8, payload: 1023}];\n} else {\n    flow.set(\"DOOR_2\", \"OPEN\");\n    return [{pin: 7, payload: 1023}, {pin: 8, payload: 0}];\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 560,
        "wires": [
            [
                "4781318a.ca372"
            ],
            [
                "b67b0572.3317b8"
            ]
        ]
    },
    {
        "id": "cb87563e.bbb2a8",
        "type": "link out",
        "z": "60964c6a.0f7cec",
        "g": "b93b8e27.6ef5",
        "name": "",
        "links": [
            "7cb5b31b.2348ac"
        ],
        "x": 645,
        "y": 440,
        "wires": []
    },
    {
        "id": "490eface.26df44",
        "type": "link out",
        "z": "60964c6a.0f7cec",
        "g": "b93b8e27.6ef5",
        "name": "",
        "links": [
            "3c0817ee.5181d8"
        ],
        "x": 645,
        "y": 480,
        "wires": []
    },
    {
        "id": "4781318a.ca372",
        "type": "link out",
        "z": "60964c6a.0f7cec",
        "g": "b93b8e27.6ef5",
        "name": "",
        "links": [
            "7cb5b31b.2348ac"
        ],
        "x": 645,
        "y": 540,
        "wires": []
    },
    {
        "id": "b67b0572.3317b8",
        "type": "link out",
        "z": "60964c6a.0f7cec",
        "g": "b93b8e27.6ef5",
        "name": "",
        "links": [
            "3c0817ee.5181d8"
        ],
        "x": 645,
        "y": 580,
        "wires": []
    },
    {
        "id": "7cb5b31b.2348ac",
        "type": "link in",
        "z": "60964c6a.0f7cec",
        "g": "b93b8e27.6ef5",
        "name": "",
        "links": [
            "cb87563e.bbb2a8",
            "4781318a.ca372"
        ],
        "x": 775,
        "y": 460,
        "wires": [
            [
                "726db91753147663"
            ]
        ]
    },
    {
        "id": "3c0817ee.5181d8",
        "type": "link in",
        "z": "60964c6a.0f7cec",
        "g": "b93b8e27.6ef5",
        "name": "",
        "links": [
            "490eface.26df44",
            "b67b0572.3317b8"
        ],
        "x": 775,
        "y": 560,
        "wires": [
            [
                "a38f597c3a96b0e3"
            ]
        ]
    },
    {
        "id": "93ab7eeb.f324",
        "type": "inject",
        "z": "60964c6a.0f7cec",
        "g": "87148ca7.4d46a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "DOOR_1",
        "payload": "DOOR_1",
        "payloadType": "flow",
        "x": 160,
        "y": 700,
        "wires": [
            [
                "91c66d3b.60382"
            ]
        ]
    },
    {
        "id": "faaaf635.165d28",
        "type": "inject",
        "z": "60964c6a.0f7cec",
        "g": "87148ca7.4d46a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "DOOR_2",
        "payload": "DOOR_2",
        "payloadType": "flow",
        "x": 160,
        "y": 780,
        "wires": [
            [
                "91c66d3b.60382"
            ]
        ]
    },
    {
        "id": "91c66d3b.60382",
        "type": "moment",
        "z": "60964c6a.0f7cec",
        "g": "87148ca7.4d46a",
        "name": "HH:mm",
        "topic": "",
        "input": "",
        "inputType": "date",
        "inTz": "America/New_York",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "HH:mm",
        "locale": "en-US",
        "output": "time",
        "outputType": "msg",
        "outTz": "America/New_York",
        "x": 340,
        "y": 740,
        "wires": [
            [
                "8de3d8dd.e918c8"
            ]
        ]
    },
    {
        "id": "69a2719d.8b279",
        "type": "debug",
        "z": "60964c6a.0f7cec",
        "g": "87148ca7.4d46a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 700,
        "wires": []
    },
    {
        "id": "e7096300.5d87e",
        "type": "twilio out",
        "z": "60964c6a.0f7cec",
        "g": "87148ca7.4d46a",
        "twilio": "fd6ae5c1.795a28",
        "twilioType": "sms",
        "url": "",
        "number": "+16143025674",
        "name": "",
        "x": 690,
        "y": 740,
        "wires": []
    },
    {
        "id": "8de3d8dd.e918c8",
        "type": "function",
        "z": "60964c6a.0f7cec",
        "g": "87148ca7.4d46a",
        "name": "Check Status",
        "func": "const door = msg.topic;\nconst status = msg.payload;\n\nmsg.alert = (status === \"OPEN\") ? true : false;\n\nif (msg.alert === true && msg.time === \"22:30\") {\n    msg.payload = `Garage [${door}] is ${status}`;\n} else {\n    return null;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 520,
        "y": 740,
        "wires": [
            [
                "e7096300.5d87e",
                "69a2719d.8b279"
            ]
        ]
    },
    {
        "id": "0d4037546aee4f6a",
        "type": "blynk-iot-in-write",
        "z": "60964c6a.0f7cec",
        "name": "Btn_Press",
        "pin": "0",
        "pin_all": true,
        "client": "d8a7e963db90b25e",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "06d052ef9f460865",
                "7569cfdba8b71173"
            ]
        ]
    },
    {
        "id": "7569cfdba8b71173",
        "type": "debug",
        "z": "60964c6a.0f7cec",
        "g": "569ad397.eded9c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 240,
        "wires": []
    },
    {
        "id": "06d052ef9f460865",
        "type": "function",
        "z": "60964c6a.0f7cec",
        "g": "569ad397.eded9c",
        "name": "Invert Payload",
        "func": "msg.payload = (msg.payload === \"1\") ? \"0\" : \"1\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 200,
        "wires": [
            [
                "f42c06cce1893166"
            ]
        ]
    },
    {
        "id": "f42c06cce1893166",
        "type": "switch",
        "z": "60964c6a.0f7cec",
        "g": "569ad397.eded9c",
        "name": "",
        "property": "pin",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "nempty"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 510,
        "y": 200,
        "wires": [
            [
                "6d0a18dd.2949e8"
            ],
            [
                "5e0b3dc5.4ed944"
            ],
            [
                "6ee720bc.5d514"
            ]
        ]
    },
    {
        "id": "726db91753147663",
        "type": "blynk-iot-out-write",
        "z": "60964c6a.0f7cec",
        "g": "b93b8e27.6ef5",
        "name": "LED (Open)",
        "pin": "0",
        "pinmode": "1",
        "client": "d8a7e963db90b25e",
        "x": 910,
        "y": 460,
        "wires": []
    },
    {
        "id": "a38f597c3a96b0e3",
        "type": "blynk-iot-out-write",
        "z": "60964c6a.0f7cec",
        "g": "b93b8e27.6ef5",
        "name": "LED (Open)",
        "pin": "0",
        "pinmode": "1",
        "client": "d8a7e963db90b25e",
        "x": 910,
        "y": 560,
        "wires": []
    },
    {
        "id": "5f83054f01203e34",
        "type": "delay",
        "z": "60964c6a.0f7cec",
        "g": "b93b8e27.6ef5",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 330,
        "y": 460,
        "wires": [
            [
                "21f6faa8.1f92fe"
            ]
        ]
    },
    {
        "id": "73bc1f9ea80afdaa",
        "type": "delay",
        "z": "60964c6a.0f7cec",
        "g": "b93b8e27.6ef5",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 330,
        "y": 560,
        "wires": [
            [
                "89dd132b.a9455"
            ]
        ]
    },
    {
        "id": "03a40bbdd2f3a4b3",
        "type": "remote-access",
        "z": "60964c6a.0f7cec",
        "d": true,
        "confignode": "dbdeb1440feef5e3",
        "name": "",
        "verbose": 0,
        "x": 180,
        "y": 940,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "5e957e022a51d226",
        "type": "ui_button",
        "z": "60964c6a.0f7cec",
        "name": "",
        "group": "3e4cd45ac5bd91db",
        "order": 1,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "DOOR 1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "DOOR_1",
        "topicType": "str",
        "x": 180,
        "y": 1080,
        "wires": [
            [
                "abfcd65ea3306a1c"
            ]
        ]
    },
    {
        "id": "4bdebcc9022a6609",
        "type": "ui_button",
        "z": "60964c6a.0f7cec",
        "name": "",
        "group": "3e4cd45ac5bd91db",
        "order": 3,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "DOOR 2",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "DOOR_2",
        "topicType": "str",
        "x": 180,
        "y": 1120,
        "wires": [
            [
                "79c04da1f1358256"
            ]
        ]
    },
    {
        "id": "2acc228e53ee86d6",
        "type": "ui_led",
        "z": "60964c6a.0f7cec",
        "order": 2,
        "group": "3e4cd45ac5bd91db",
        "width": "2",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "OPEN",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "CLOSED",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "LED 1 ",
        "x": 1030,
        "y": 1040,
        "wires": []
    },
    {
        "id": "694e302c5267d44c",
        "type": "ui_led",
        "z": "60964c6a.0f7cec",
        "order": 4,
        "group": "3e4cd45ac5bd91db",
        "width": "2",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "OPEN",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "CLOSED",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "LED 2",
        "x": 1030,
        "y": 1080,
        "wires": []
    },
    {
        "id": "6b0ec84efb2c9227",
        "type": "inject",
        "z": "60964c6a.0f7cec",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 670,
        "y": 1060,
        "wires": [
            [
                "48d9de7ded25c865",
                "5e92598d4ffd5cc5"
            ]
        ]
    },
    {
        "id": "48d9de7ded25c865",
        "type": "change",
        "z": "60964c6a.0f7cec",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "DOOR_1",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 1040,
        "wires": [
            [
                "2acc228e53ee86d6"
            ]
        ]
    },
    {
        "id": "5e92598d4ffd5cc5",
        "type": "change",
        "z": "60964c6a.0f7cec",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "DOOR_2",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 1080,
        "wires": [
            [
                "694e302c5267d44c"
            ]
        ]
    },
    {
        "id": "abfcd65ea3306a1c",
        "type": "link out",
        "z": "60964c6a.0f7cec",
        "name": "OUT: DOOR_1",
        "mode": "link",
        "links": [
            "d37a0bc7.58a398"
        ],
        "x": 305,
        "y": 1080,
        "wires": []
    },
    {
        "id": "79c04da1f1358256",
        "type": "link out",
        "z": "60964c6a.0f7cec",
        "name": "OUT: DOOR_2",
        "mode": "link",
        "links": [
            "62afc7bf.02b4a8"
        ],
        "x": 305,
        "y": 1120,
        "wires": []
    },
    {
        "id": "32dfac1d.57ed74",
        "type": "hb-status",
        "z": "ecf8719e.02b44",
        "name": "Coffee Machine",
        "Homebridge": "homebridge",
        "Manufacturer": "Wyze",
        "Service": "Outlet",
        "device": "homebridge0E:BD:BB:53:36:EBWyzeCoffee Machine00000047",
        "conf": "20c64501.bd75da",
        "x": 340,
        "y": 120,
        "wires": [
            [
                "39d580e9.b9198"
            ]
        ]
    },
    {
        "id": "f0c5460d.df7bb8",
        "type": "inject",
        "z": "ecf8719e.02b44",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "32dfac1d.57ed74"
            ]
        ]
    },
    {
        "id": "39d580e9.b9198",
        "type": "debug",
        "z": "ecf8719e.02b44",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 120,
        "wires": []
    },
    {
        "id": "209454a7.9e950c",
        "type": "hb-event",
        "z": "ecf8719e.02b44",
        "name": "Coffee Machine",
        "Homebridge": "Homebridge 36EB",
        "Manufacturer": "Wyze",
        "Service": "Outlet",
        "device": "Homebridge 36EB0E:BD:BB:53:36:EBWyzeCoffee Machine00000047",
        "conf": "20c64501.bd75da",
        "x": 170,
        "y": 260,
        "wires": [
            [
                "a52d4474.18ba38"
            ]
        ]
    },
    {
        "id": "a52d4474.18ba38",
        "type": "debug",
        "z": "ecf8719e.02b44",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 260,
        "wires": []
    }
]