flows_garagedoor.json
[
    {
        "id": "b9b57588.e87188",
        "type": "tab",
        "label": "Restart Node-Red",
        "disabled": false,
        "info": ""
    },
    {
        "id": "60964c6a.0f7cec",
        "type": "tab",
        "label": "Garage Door",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ecf8719e.02b44",
        "type": "tab",
        "label": "HomeBridge",
        "disabled": false,
        "info": ""
    },
    {
        "id": "569ad397.eded9c",
        "type": "group",
        "z": "60964c6a.0f7cec",
        "name": "Open/Close Doors",
        "style": {
            "stroke": "#999999",
            "fill": "none",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "dd95e9ea.e8d23",
            "c24aa858.4f854",
            "749bbc17.26e544",
            "ea065a44.ce68a8",
            "b1eda671.8ff5e8",
            "a87c1e6b.8e687",
            "7204d9f4.b59f28",
            "7c1e2d61.757dd4",
            "becebb3b.e6b7e8",
            "9c80ac98.b4f0e",
            "a767f61a.fcd828",
            "6d0a18dd.2949e8",
            "5e0b3dc5.4ed944",
            "6ee720bc.5d514",
            "d37a0bc7.58a398",
            "62afc7bf.02b4a8",
            "9c35725c.25983",
            "1152d3e0.7edfcc",
            "97e50e35.6decf"
        ],
        "x": 34,
        "y": 39,
        "w": 892,
        "h": 282
    },
    {
        "id": "b93b8e27.6ef5",
        "type": "group",
        "z": "60964c6a.0f7cec",
        "name": "Check Door Sensors",
        "style": {
            "stroke": "#999999",
            "fill": "none",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "53c74f16.045eb8",
            "21f6faa8.1f92fe",
            "c713cf0a.b6dab",
            "e09cfc85.9e3ef",
            "d5f33979.cc8c08",
            "89dd132b.a9455",
            "cb87563e.bbb2a8",
            "490eface.26df44",
            "4781318a.ca372",
            "b67b0572.3317b8",
            "7cb5b31b.2348ac",
            "3c0817ee.5181d8"
        ],
        "x": 34,
        "y": 359,
        "w": 892,
        "h": 222
    },
    {
        "id": "fc93b9f.1b53748",
        "type": "blynk-ws-client",
        "name": "",
        "path": "wss://blynk-cloud.com/websockets",
        "key": "c3d2bd661aff4194baf40a232c3f4207",
        "dbg_all": true,
        "dbg_read": false,
        "dbg_write": false,
        "dbg_notify": false,
        "dbg_mail": false,
        "dbg_prop": false,
        "dbg_sync": false,
        "dbg_bridge": false,
        "dbg_low": false,
        "dbg_pins": "",
        "multi_cmd": false,
        "proxy_type": "no",
        "proxy_url": "",
        "enabled": true
    },
    {
        "id": "20c64501.bd75da",
        "type": "hb-conf",
        "username": "347-85-621"
    },
    {
        "id": "dd95e9ea.e8d23",
        "type": "inject",
        "z": "60964c6a.0f7cec",
        "g": "569ad397.eded9c",
        "name": "Open/Close (Door 1)",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Door_1",
        "payload": "0",
        "payloadType": "num",
        "x": 170,
        "y": 160,
        "wires": [
            [
                "becebb3b.e6b7e8"
            ]
        ]
    },
    {
        "id": "c24aa858.4f854",
        "type": "blynk-ws-out-write",
        "z": "60964c6a.0f7cec",
        "g": "569ad397.eded9c",
        "name": "Button_Release",
        "pin": "0",
        "pinmode": "1",
        "client": "fc93b9f.1b53748",
        "x": 820,
        "y": 220,
        "wires": []
    },
    {
        "id": "53c74f16.045eb8",
        "type": "blynk-ws-out-write",
        "z": "60964c6a.0f7cec",
        "g": "b93b8e27.6ef5",
        "name": "LED (Open)",
        "pin": "0",
        "pinmode": "1",
        "client": "fc93b9f.1b53748",
        "x": 830,
        "y": 440,
        "wires": []
    },
    {
        "id": "21f6faa8.1f92fe",
        "type": "function",
        "z": "60964c6a.0f7cec",
        "g": "b93b8e27.6ef5",
        "name": "",
        "func": "if (msg.payload == 0) {\n    return [{pin: 1, payload: 0}, {pin: 2, payload: 1023}];\n} else {\n    return [{pin: 1, payload: 1023}, {pin: 2, payload: 0}];\n}",
        "outputs": 2,
        "noerr": 0,
        "x": 310,
        "y": 420,
        "wires": [
            [
                "cb87563e.bbb2a8"
            ],
            [
                "490eface.26df44"
            ]
        ]
    },
    {
        "id": "c713cf0a.b6dab",
        "type": "blynk-ws-out-write",
        "z": "60964c6a.0f7cec",
        "g": "b93b8e27.6ef5",
        "name": "LED (Closed)",
        "pin": "0",
        "pinmode": "1",
        "client": "fc93b9f.1b53748",
        "x": 830,
        "y": 500,
        "wires": []
    },
    {
        "id": "749bbc17.26e544",
        "type": "change",
        "z": "60964c6a.0f7cec",
        "g": "569ad397.eded9c",
        "name": "Reset Pin",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 80,
        "wires": [
            [
                "97e50e35.6decf"
            ]
        ]
    },
    {
        "id": "ea065a44.ce68a8",
        "type": "delay",
        "z": "60964c6a.0f7cec",
        "g": "569ad397.eded9c",
        "name": "",
        "pauseType": "delay",
        "timeout": "250",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 460,
        "y": 80,
        "wires": [
            [
                "749bbc17.26e544"
            ]
        ]
    },
    {
        "id": "e09cfc85.9e3ef",
        "type": "rpi-gpio in",
        "z": "60964c6a.0f7cec",
        "g": "b93b8e27.6ef5",
        "name": "Sensor (Door 1)",
        "pin": "11",
        "intype": "up",
        "debounce": "25",
        "read": true,
        "x": 140,
        "y": 420,
        "wires": [
            [
                "21f6faa8.1f92fe"
            ]
        ]
    },
    {
        "id": "d5f33979.cc8c08",
        "type": "rpi-gpio in",
        "z": "60964c6a.0f7cec",
        "g": "b93b8e27.6ef5",
        "name": "Sensor (Door 2)",
        "pin": "12",
        "intype": "up",
        "debounce": "25",
        "read": true,
        "x": 140,
        "y": 520,
        "wires": [
            [
                "89dd132b.a9455"
            ]
        ]
    },
    {
        "id": "b1eda671.8ff5e8",
        "type": "rpi-gpio out",
        "z": "60964c6a.0f7cec",
        "g": "569ad397.eded9c",
        "name": "Relay (Door 1)",
        "pin": "35",
        "set": true,
        "level": "1",
        "freq": "",
        "out": "out",
        "x": 820,
        "y": 160,
        "wires": []
    },
    {
        "id": "a87c1e6b.8e687",
        "type": "rpi-gpio out",
        "z": "60964c6a.0f7cec",
        "g": "569ad397.eded9c",
        "name": "Relay (Door 2)",
        "pin": "37",
        "set": true,
        "level": "1",
        "freq": "",
        "out": "out",
        "x": 820,
        "y": 280,
        "wires": []
    },
    {
        "id": "7204d9f4.b59f28",
        "type": "blynk-ws-in-write",
        "z": "60964c6a.0f7cec",
        "g": "569ad397.eded9c",
        "name": "Button_Press",
        "pin": "0",
        "pin_all": true,
        "client": "fc93b9f.1b53748",
        "x": 140,
        "y": 220,
        "wires": [
            [
                "a767f61a.fcd828"
            ]
        ]
    },
    {
        "id": "7c1e2d61.757dd4",
        "type": "inject",
        "z": "60964c6a.0f7cec",
        "g": "569ad397.eded9c",
        "name": "Open/Close (Door 2)",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Door_2",
        "payload": "0",
        "payloadType": "num",
        "x": 170,
        "y": 280,
        "wires": [
            [
                "9c80ac98.b4f0e"
            ]
        ]
    },
    {
        "id": "becebb3b.e6b7e8",
        "type": "change",
        "z": "60964c6a.0f7cec",
        "g": "569ad397.eded9c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "pin",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 160,
        "wires": [
            [
                "a767f61a.fcd828"
            ]
        ]
    },
    {
        "id": "9c80ac98.b4f0e",
        "type": "change",
        "z": "60964c6a.0f7cec",
        "g": "569ad397.eded9c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "pin",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 280,
        "wires": [
            [
                "a767f61a.fcd828"
            ]
        ]
    },
    {
        "id": "a767f61a.fcd828",
        "type": "switch",
        "z": "60964c6a.0f7cec",
        "g": "569ad397.eded9c",
        "name": "",
        "property": "pin",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "nempty"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 420,
        "y": 220,
        "wires": [
            [
                "6d0a18dd.2949e8"
            ],
            [
                "5e0b3dc5.4ed944"
            ],
            [
                "6ee720bc.5d514"
            ]
        ]
    },
    {
        "id": "6d0a18dd.2949e8",
        "type": "link out",
        "z": "60964c6a.0f7cec",
        "g": "569ad397.eded9c",
        "name": "",
        "links": [
            "d37a0bc7.58a398",
            "1152d3e0.7edfcc"
        ],
        "x": 565,
        "y": 180,
        "wires": []
    },
    {
        "id": "5e0b3dc5.4ed944",
        "type": "link out",
        "z": "60964c6a.0f7cec",
        "g": "569ad397.eded9c",
        "name": "",
        "links": [
            "1152d3e0.7edfcc",
            "9c35725c.25983"
        ],
        "x": 565,
        "y": 220,
        "wires": []
    },
    {
        "id": "6ee720bc.5d514",
        "type": "link out",
        "z": "60964c6a.0f7cec",
        "g": "569ad397.eded9c",
        "name": "",
        "links": [
            "1152d3e0.7edfcc",
            "62afc7bf.02b4a8"
        ],
        "x": 565,
        "y": 260,
        "wires": []
    },
    {
        "id": "d37a0bc7.58a398",
        "type": "link in",
        "z": "60964c6a.0f7cec",
        "g": "569ad397.eded9c",
        "name": "",
        "links": [
            "6d0a18dd.2949e8"
        ],
        "x": 675,
        "y": 160,
        "wires": [
            [
                "b1eda671.8ff5e8"
            ]
        ]
    },
    {
        "id": "62afc7bf.02b4a8",
        "type": "link in",
        "z": "60964c6a.0f7cec",
        "g": "569ad397.eded9c",
        "name": "",
        "links": [
            "6ee720bc.5d514"
        ],
        "x": 675,
        "y": 280,
        "wires": [
            [
                "a87c1e6b.8e687"
            ]
        ]
    },
    {
        "id": "9c35725c.25983",
        "type": "link in",
        "z": "60964c6a.0f7cec",
        "g": "569ad397.eded9c",
        "name": "",
        "links": [
            "5e0b3dc5.4ed944"
        ],
        "x": 675,
        "y": 220,
        "wires": [
            [
                "c24aa858.4f854"
            ]
        ]
    },
    {
        "id": "1152d3e0.7edfcc",
        "type": "link in",
        "z": "60964c6a.0f7cec",
        "g": "569ad397.eded9c",
        "name": "",
        "links": [
            "6d0a18dd.2949e8",
            "5e0b3dc5.4ed944",
            "6ee720bc.5d514"
        ],
        "x": 325,
        "y": 80,
        "wires": [
            [
                "ea065a44.ce68a8"
            ]
        ]
    },
    {
        "id": "97e50e35.6decf",
        "type": "link out",
        "z": "60964c6a.0f7cec",
        "g": "569ad397.eded9c",
        "name": "",
        "links": [],
        "x": 765,
        "y": 80,
        "wires": []
    },
    {
        "id": "89dd132b.a9455",
        "type": "function",
        "z": "60964c6a.0f7cec",
        "g": "b93b8e27.6ef5",
        "name": "",
        "func": "if (msg.payload == 0) {\n    return [{pin: 4, payload: 0}, {pin: 5, payload: 1023}];\n} else {\n    return [{pin: 4, payload: 1023}, {pin: 5, payload: 0}];\n}",
        "outputs": 2,
        "noerr": 0,
        "x": 310,
        "y": 520,
        "wires": [
            [
                "4781318a.ca372"
            ],
            [
                "b67b0572.3317b8"
            ]
        ]
    },
    {
        "id": "cb87563e.bbb2a8",
        "type": "link out",
        "z": "60964c6a.0f7cec",
        "g": "b93b8e27.6ef5",
        "name": "",
        "links": [
            "7cb5b31b.2348ac"
        ],
        "x": 435,
        "y": 400,
        "wires": []
    },
    {
        "id": "490eface.26df44",
        "type": "link out",
        "z": "60964c6a.0f7cec",
        "g": "b93b8e27.6ef5",
        "name": "",
        "links": [
            "3c0817ee.5181d8"
        ],
        "x": 435,
        "y": 440,
        "wires": []
    },
    {
        "id": "4781318a.ca372",
        "type": "link out",
        "z": "60964c6a.0f7cec",
        "g": "b93b8e27.6ef5",
        "name": "",
        "links": [
            "7cb5b31b.2348ac"
        ],
        "x": 435,
        "y": 500,
        "wires": []
    },
    {
        "id": "b67b0572.3317b8",
        "type": "link out",
        "z": "60964c6a.0f7cec",
        "g": "b93b8e27.6ef5",
        "name": "",
        "links": [
            "3c0817ee.5181d8"
        ],
        "x": 435,
        "y": 540,
        "wires": []
    },
    {
        "id": "7cb5b31b.2348ac",
        "type": "link in",
        "z": "60964c6a.0f7cec",
        "g": "b93b8e27.6ef5",
        "name": "",
        "links": [
            "cb87563e.bbb2a8",
            "4781318a.ca372"
        ],
        "x": 695,
        "y": 440,
        "wires": [
            [
                "53c74f16.045eb8"
            ]
        ]
    },
    {
        "id": "3c0817ee.5181d8",
        "type": "link in",
        "z": "60964c6a.0f7cec",
        "g": "b93b8e27.6ef5",
        "name": "",
        "links": [
            "490eface.26df44",
            "b67b0572.3317b8"
        ],
        "x": 695,
        "y": 500,
        "wires": [
            [
                "c713cf0a.b6dab"
            ]
        ]
    },
    {
        "id": "91ce3794.3e1958",
        "type": "exec",
        "z": "b9b57588.e87188",
        "command": "node-red-restart",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 280,
        "y": 60,
        "wires": [
            [
                "820d8e54.dc4d9"
            ],
            [
                "820d8e54.dc4d9"
            ],
            [
                "820d8e54.dc4d9"
            ]
        ]
    },
    {
        "id": "39ecc04c.e2801",
        "type": "inject",
        "z": "b9b57588.e87188",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 60,
        "wires": [
            [
                "91ce3794.3e1958"
            ]
        ]
    },
    {
        "id": "820d8e54.dc4d9",
        "type": "debug",
        "z": "b9b57588.e87188",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 490,
        "y": 60,
        "wires": []
    },
    {
        "id": "32dfac1d.57ed74",
        "type": "hb-status",
        "z": "ecf8719e.02b44",
        "name": "Coffee Machine",
        "Homebridge": "Homebridge 36EB",
        "Manufacturer": "Wyze",
        "Service": "Outlet",
        "device": "Homebridge 36EB0E:BD:BB:53:36:EBWyzeCoffee Machine00000047",
        "conf": "20c64501.bd75da",
        "x": 340,
        "y": 120,
        "wires": [
            [
                "39d580e9.b9198"
            ]
        ]
    },
    {
        "id": "f0c5460d.df7bb8",
        "type": "inject",
        "z": "ecf8719e.02b44",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "32dfac1d.57ed74"
            ]
        ]
    },
    {
        "id": "39d580e9.b9198",
        "type": "debug",
        "z": "ecf8719e.02b44",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 120,
        "wires": []
    },
    {
        "id": "209454a7.9e950c",
        "type": "hb-event",
        "z": "ecf8719e.02b44",
        "name": "Coffee Machine",
        "Homebridge": "Homebridge 36EB",
        "Manufacturer": "Wyze",
        "Service": "Outlet",
        "device": "Homebridge 36EB0E:BD:BB:53:36:EBWyzeCoffee Machine00000047",
        "conf": "20c64501.bd75da",
        "x": 170,
        "y": 260,
        "wires": [
            [
                "a52d4474.18ba38"
            ]
        ]
    },
    {
        "id": "a52d4474.18ba38",
        "type": "debug",
        "z": "ecf8719e.02b44",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 260,
        "wires": []
    }
]